<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW USER</title>
</head>
<body>
<form th:method="POST" th:action="@{/create}" th:object="${newUser}">
    <label for="name"> NAME</label>
    <input type="text" th:field="*{name}" id="name"/>

    <br/>

    <label for="lastName"> LASTNAME</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <br/>

    <label for="age"> AGE</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br/>

    <label for="password"> PASSWORD</label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>

    <input type="submit" value="SAVE USER"/>

    <td>
        <a th:href="@{/logout}" style="color: blue">LOGOUT USER</a>
    </td>

</form>
</body>
</html>